.bannerWrap {
  /* 公共背景和初始（移动端）样式 */
  background-color: #2f2f2f;
  background: url('../../img/banner-img.jpeg') center/cover;
  // background-repeat: no-repeat;
  // background-position: center 300px;
  // background-size: cover;
  height: 800px;

  .innerWrap {
    width: 280px;
    margin: 40px auto;

    .title {
      color: rgba(255, 255, 255, 0.9);
      font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 42px */
    }

    .desc {
      color: rgba(242, 246, 250, 0.5);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
      margin-bottom: 40px;
      white-space: pre-line;
    }
  }

  /* 577px 到 996px */
  @media (min-width: 577px) and (max-width: 996px) {
    // background-position: right 300px;
    // background-size: 50% auto;
    height: 480px;

    .innerWrap {
      width: 328px;
      margin: 140px 120px 0;

      .title {
        font-size: 32px;
      }

      .desc {
        font-size: 18px;
      }
    }
  }

  /* 997px 到 1280px */
  @media (min-width: 997px) and (max-width: 1280px) {
    // background-position: right 300px;
    // background-size: 50% auto;
    height: 600px;

    .innerWrap {
      width: 400px;
      margin: 140px 120px 0;

      .title {
        font-size: 36px;
      }

      .desc {
        font-size: 18px;
      }
    }
  }

  /* 1281px 及以上 */
  @media (min-width: 1281px) {
    // background-position: right 300px;
    // background-size: 50% auto;
    height: 960px;

    .innerWrap {
      width: 648px;
      margin: 140px 120px 0;

      .title {
        font-size: 41px;
      }

      .desc {
        font-size: 20px;
      }
    }
  }
}
