.bottomWrap {
  margin: 0 auto;
  margin-bottom: 154px;
  .topImg {
    width: 100%;
    // height: 225px;
    // @media (max-width: 577px) {
    height: 360px;
    // }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    // background: red;
    margin: 0 auto;
    width: 366px;

    .title {
      color: rgba(255, 255, 255, 0.9);
      text-align: center;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 36px */
      margin-bottom: 32px;
    }
    .btnGrp {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      div:first-child {
        width: 144px;
      }
      div:last-child {
        width: 144px;
      }
    }
  }
  @media (min-width: 577px) and (max-width: 996px) {
    max-width: 640px;
    margin-bottom: 250px;
    .topImg {
      height: 360px;
    }

    .container {
      // width: max-content;
      .title {
        font-size: 28px;
      }
    }
  }
  @media (min-width: 997px) and (max-width: 1280px) {
    max-width: 840px;
    margin-bottom: 150px;
    .topImg {
      height: 560px;
    }

    .container {
      // width: max-content;
      .title {
        font-size: 32px;
      }
    }
  }
  @media (min-width: 1281px) {
    max-width: 1200px;
    margin-bottom: 150px;
    .topImg {
      height: 560px;
    }

    .container {
      // width: max-content;
      .title {
        font-size: 44px;
      }
    }
  }
}
