.container {
  margin: 0 auto;
  .wrap {
    position: relative;
    margin-bottom: 8px;

    border-radius: 20px;
    border: 2px solid #2b3042;
    background: linear-gradient(270deg, #020204 0%, #020204 100%);
    overflow: hidden;
    .img {
      position: relative;
      background-size: 100%;
      height: 428px;
      width: 100%;
      // margin-bottom: 108px;
      .imgItem {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 3s ease-in-out;
        background-size: cover;
        background-position: center;

        &.active {
          opacity: 1;
        }
      }
    }

    .content {
      position: absolute;
      width: 100%;
      bottom: 0;

      display: flex;
      flex-direction: column;
      padding: 24px;
      margin: 0 auto;
      background: linear-gradient(
        0deg,
        rgba(128, 128, 128, 0.7) 0%,
        rgba(128, 128, 128, 0) 100%
      );
      background-blend-mode: color-burn;
      backdrop-filter: blur(40px);
      .title {
        white-space: pre-line;
        color: rgba(255, 255, 255, 0.9);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        margin-bottom: 8px;
        white-space: pre-line;
      }

      .desc {
        color: rgba(255, 255, 255, 0.7);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        white-space: pre-line;
      }
    }
  }
  @media (max-width: 576px) {
    .wrap {
      max-width: 100%;
      margin: 0 20px 24px;
      // margin-left: auto;
      // margin-right: auto;
      // margin-bottom: 24px;
      .img {
        height: 360px;
      }
      .content {
        padding: 28px;
        .title {
          font-size: 20px;
        }
      }
    }
  }
  @media (min-width: 577px) and (max-width: 996px) {
    max-width: 640px;
    .wrap {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
      .img {
        height: 360px;
      }
      .content {
        padding: 28px;
        .title {
          font-size: 20px;
        }
      }
    }
  }
  @media (min-width: 997px) and (max-width: 1280px) {
    max-width: 840px;
    .wrap {
      margin-bottom: 24px;
      .img {
        height: 480px;
      }
      .content {
        padding: 40px;
        .title {
          font-size: 28px;
        }
        .desc {
          font-size: 16px;
        }
      }
    }
  }
  @media (min-width: 1281px) {
    max-width: 1200px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    .wrap {
      width: 100%;

      // margin-bottom: 24px;

      .img {
        height: 675px;
      }
      .content {
        padding: 40px;
        .title {
          font-size: 28px;
        }
        .desc {
          font-size: 16px;
        }
      }
    }

    .wrap:nth-child(2),
    .wrap:nth-child(3) {
      /* (100% - gap) / 2：用 gap 保证它们之间有 24px 的间隔 */
      width: calc((100% - 24px) / 2);
      .img {
        height: 784px;
      }
    }
  }
}
