.container {
  box-sizing: content-box;
  padding: 0 20px;
  margin: 0 auto;
  .wrap {
    position: relative;
    margin-bottom: 8px;

    border-radius: 20px;
    border: 2px solid #2b3042;
    // background: linear-gradient(270deg, #020204 0%, #020204 100%);
    background: url('/img/index-s2/cbg.jpg') center/cover no-repeat;
    overflow: hidden;
    .img {
      position: relative;
      // background-size: 100%;

      width: 100%;
      // margin-bottom: 108px;
      .imgItem {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        background-image: var(--h5-url);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &.active {
          opacity: 1;
        }
      }
    }

    .content {
      position: absolute;
      width: 100%;
      bottom: 0;

      display: flex;
      flex-direction: column;
      padding: 24px;
      margin: 0 auto;
      background: linear-gradient(
        0deg,
        rgb(45 56 139) 0%,
        rgba(128, 128, 128, 0) 100%
      );
      // background-blend-mode: color-burn;
      // backdrop-filter: blur(1px);

      .title {
        color: rgba(255, 255, 255, 0.9);
        // font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        margin-bottom: 8px;
        text-wrap: pretty;
      }

      .desc {
        color: rgba(255, 255, 255, 0.7);
        // font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
        text-wrap: balance;
      }
    }
  }
  @media (max-width: 576px) {
    .wrap {
      height: 428px;
      max-width: 100%;
      margin: 0 0 24px;
      // margin-left: auto;
      // margin-right: auto;
      // margin-bottom: 24px;
      .img {
        height: 326px;
        // position: relative; // 新增定位上下文
        // top: -10px; // 向上移动10px
      }

      .content {
        padding: 24px;
        .title {
          font-size: 20px;
        }
      }
    }
  }
  @media (min-width: 577px) and (max-width: 996px) {
    padding: 0 80px;
    // max-width: 640px;
    .wrap {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 24px;
      .img {
        height: 360px;
        .imgItem {
          background-image: var(--pad-url);
        }
      }

      .content {
        padding: 28px;
        .title {
          font-size: 20px;
        }
      }
    }
  }
  @media (min-width: 997px) and (max-width: 1280px) {
    // max-width: 840px;
    padding: 0 80px;
    .wrap {
      margin-bottom: 24px;
      .img {
        height: 480px;
        .imgItem {
          background-image: var(--pad-url);
        }
      }
      .content {
        padding: 40px;
        .title {
          font-size: 28px;
        }
        .desc {
          font-size: 16px;
        }
      }
    }
  }
  
  @media (min-width: 1281px) {
    padding: 0 120px;
    max-width: 1280px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    .wrap {
      width: 100%;

      // margin-bottom: 24px;

      .img {
        height: 675px;
        .imgItem {
          background-image: var(--pc-url);
        }
      }
      .content {
        padding: 48px;
        .title {
          font-size: 32px;
          text-wrap: balance;
        }
        .desc {
          font-size: 16px;
          text-wrap: balance;
        }
      }
    }
    .wrap:nth-child(1),
    .wrap:nth-child(4) {
      .content {
        box-sizing: content-box;
        width: 454px;
        padding: 48px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          90deg,
          #323d90 0%,
          rgba(73, 95, 145, 0) 100%
        );
        // backdrop-filter: blur(40px);
      }
    }

    .wrap:nth-child(2),
    .wrap:nth-child(3) {
      /* (100% - gap) / 2：用 gap 保证它们之间有 24px 的间隔 */
      width: calc((100% - 24px) / 2);
      .img {
        height: 784px;
        // .imgItem {
          // background-image: var(--h5-url);
        // }
      }
    }
  }
}
