.slider {
  // width: 100%;
  //   max-width: 600px; // 根据需要调整整体宽度
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  // @media (max-width: 576px) {
    
  // }

  @media (min-width: 577px) and (max-width: 996px) {
    padding: 0 80px;
    // max-width: 640px;
    // margin: 0 20px;
    .img {
      max-height: 360px;
    }
  }
  @media (min-width: 997px) and (max-width: 1280px) {
    padding: 0 80px;
    // max-width: 1040px;
    // margin: 0 auto;
    // margin: 0 120px;
    .img {
      max-height: 473px;
    }
  }
  @media (min-width: 1281px) {
    // fixme: overflow?
    margin: 0 120px;
    .img {
      max-width: 1680px;
      max-height: 600px;
    }
  }
}

/* 视频容器 */
.img {
  position: relative;
  width: 100%;
  height: 100%;
  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  // padding-bottom: 56.25%; // 16:9 比例，可以改成 portrait 比例等
  // background-size: cover;
  // background-position: center center;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-image 0.3s ease-in-out;
  // border-radius: 0px;
}

@media (min-width: 577px) {
  .img {
    // PC only
    border-radius: 24px;
    overflow: hidden;
  }
}
@media (min-width: 577px) and (max-width: 996px) {
  .img {
    height: 360px;
    // border-radius: 8px;
  }
}
@media (min-width: 997px) and (max-width: 1280px) {
  .img {
    height: 470px;
    // border-radius: 8px;
  }
}
@media (min-width: 1281px) {
  .img {
    height: 600px;
    // border-radius: 8px;
  }
}

/* 按钮容器 */
.btnContainer {
  padding: 20px 0;
  display: flex;
  width: 100%;
  gap: 30px; // 按钮之间留点空隙
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position: relative;
  // border-bottom: 2px solid rgba(255, 255, 255, 0.16);

  max-width: 880px;

  //   hide scroll bar
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome、Safari、Opera */
  }

  .bgline {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.16);
  }
}

.btn {
  position: relative;
  min-width: fit-content;
  color: rgba(242, 246, 250, 0.7);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  transition: background-color 0.2s, box-shadow 0.2s;
  &.disabled {
    color: rgba(242, 246, 250, 0.3);
    cursor: not-allowed;
    .desc {
      color: rgba(242, 246, 250, 0.3);
    }
  }
}

.active {
  color: #fff;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20px;
    height: 2px;
    background-color: #fff;
  }
}

.desc {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;

  color: rgba(242, 246, 250, 0.7);
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
