.bannerWrap {
  //   background: #2f2f2f;
  background: url('https://placecats.com/600/600') center 300px / cover
      no-repeat,
    #2f2f2f;
  height: 800px;

  .innerWrap {
    width: 280px;
    margin: 40px auto;
    .title {
      color: rgba(255, 255, 255, 0.9);
      // font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 42px */
    }
    .desc {
      color: rgba(242, 246, 250, 0.5);
      // font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
      margin-bottom: 40px;
    }
  }
}
